---
layout: base
---

<article class="page" role="article">
  <header style="margin-bottom:2rem">
    <h1 class="page-title">{{ page.title }}</h1>
    {% include message.html text=page.description %}
  </header>
  <div style="text-align: center;">
    <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}"
      target="_blank">
      <img
        src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}{{ page.url }}.svg" />
    </a>
  </div>
  {{ content }}
</article>

